<table class="w-max flex flex-col mt-5 shadow-md select-none">
    <thead class="bg-black-50 w-max border-black-800 flex flex-row items-center font-bold text-white border-2">
        <th class="border-r-2 border-black-800 w-[3.5rem] text-center"
            ngxTippy="Player's position">POS.</th>
        <th class="border-r-2 border-black-800 w-[3.5rem] text-center"
            ngxTippy="Player's jersey number">NO.</th>
        <th class="w-[18rem] text-center"
            ngxTippy="Player's username">PLAYERS <span *ngIf="this.players != null && this.players.length > 0">({{ this.players.length }})</span></th>
    </thead>
    <tbody class="border-black-800 scrollbar-thumb-gray-400 hover:scrollbar-thumb-gray-500 scrollbar-track-gray-300 scrollbar-thin flex flex-col overflow-y-scroll font-medium border-b-2 border-l-2 border-r-2"
           [style.max-height]="getMaxRosterHeight()">
        <!-- START: Roster Players -->
        <tr *ngFor="let player of this.players; let i = index"
            class="hover:bg-gray-200 flex flex-row"
            [ngClass]="i%2 === 0 ? 'bg-gray-50' : 'bg-gray-100'">
            <td class="border-r border-gray-600 w-[3.5rem] text-center">{{ this.player.member.position }}</td>
            <td class="border-r border-gray-600 w-[3.5rem] text-center">{{ this.player.member.number }}</td>
            <td class="w-[18rem] text-center cursor-pointer hover:font-bold">
                <a [href]="getProfileLink(player.member.username)" target="_blank">{{ player.member.username }}</a>
            </td>
        </tr>
        <!-- END: Roster Players -->

        <!-- START: Null Roster -->
        <div *ngIf="this.players == null">
            <tr *ngFor="let i of [].constructor(getMaxVisiblePlayers()); let j = index"
                class="flex flex-row"
                [ngClass]="j%2 === 0 ? 'bg-gray-50' : 'bg-gray-100'">
                <td class="border-r border-gray-600 w-[3.5rem]">&nbsp;</td>
                <td class="border-r border-gray-600 w-[3.5rem]">&nbsp;</td>
                <td class="w-[18rem]">&nbsp;</td>
            </tr>
        </div>
        <!-- END: Null Roster -->

        <!-- START: Roster Filling -->
        <div *ngIf="this.players != null && this.players.length < getMaxVisiblePlayers()">
            <tr *ngFor="let i of [].constructor(getMaxVisiblePlayers() - this.players.length); let j = index"
                class="flex flex-row"
                [ngClass]="j%2 !== (this.players.length%2 == 0 ? 1 : 0) ? 'bg-gray-50' : 'bg-gray-100'">
                <td class="border-r border-gray-600 w-[3.5rem]">&nbsp;</td>
                <td class="border-r border-gray-600 w-[3.5rem]">&nbsp;</td>
                <td class="w-[18rem]">&nbsp;</td>
            </tr>
        </div>
        <!-- END: Roster Filling -->
    </tbody>
</table>