<div class="bg-gray-100 shadow-lg dark:bg-black-700 dark:text-gray-50">
    <div class="w-full px-4 py-2 mx-auto md:px-0 md:w-7/12">
        <div class="flex flex-row">
            <img src="../../../assets/img/logo2.png" alt="logo" class="flex w-8 h-8 mr-3 dark:hidden">
            <img src="../../../assets/img/logo3.png" alt="logo" class="hidden w-8 h-8 mr-3 dark:flex">
            <span class="overflow-scroll text-lg font-semibold md:overflow-hidden md:mr-16 md:text-2xl whitespace-nowrap">Blockey Hockey Network</span>
            <div class="flex-row hidden space-x-5 md:flex">
                <span class="my-auto">Home</span>
                <span class="my-auto">About</span>
            </div>
        </div>
    </div>
</div>