<div class="bg-gray-100 shadow-lg dark:bg-black-700 dark:text-gray-50">
    <div class="w-full py-2 mx-auto md:w-7/12">
        <div class="flex flex-row">
            <img src="../../../assets/img/logo2.png" alt="logo" class="flex w-8 mr-3 dark:hidden">
            <img src="../../../assets/img/logo3.png" alt="logo" class="hidden w-8 mr-3 dark:flex">
            <span class="mr-16 text-2xl font-semibold">Blockey Hockey Network</span>
            <div class="flex flex-row space-x-5">
                <span class="my-auto">Home</span>
                <span class="my-auto">About</span>
            </div>
        </div>
    </div>
</div>