<div class="p-10 font-sans">
    <!-- Player username -->
    <h1 class="text-4.5xl font-semibold">{{ this.member.username }}</h1>
    <!-- Player profile picture (Minecraft head) -->
    <div class="my-3 bg-gray-100 rounded-lg shadow-lg w-50 h-50"
         [ngStyle]="{'background-image': 'url(' + this.profilePicture + ')'}"></div>
    <!-- Last seen and where -->
    <div>
        <span>Last seen&nbsp;</span>
        <span class="font-semibold cursor-pointer"
              ngxTippy
              tippyName="last-online-date">{{ this.member.lastOnline | timeago }}&nbsp;</span>
        <span>on&nbsp;</span>
        <span class="font-semibold">Server {{ this.server }}</span>
    </div>
</div>