<div class="border-black-800 dark:border-black-50 dark:text-white border-2 shadow-md select-none">
    <!-- START: Title -->
    <div class="border-black-800 dark:border-black-50 text-shadow-md text-black-700 dark:text-white dark:bg-black-600 w-full mx-auto text-2xl font-semibold bg-gray-300 border-b-2">
        <p class="w-max mx-auto">SCORING SUMMARY</p>
    </div>
    <!-- END: Title -->
    <!-- START: Details -->
    <table class="w-full table-fixed">
        <tr>
            <th class="border-black-800 dark:border-black-50 bg-black-50 dark:bg-black-500 text-white border-b-2 border-r-2"
                ngxTippy="Teams that played this in game">TEAMS</th>
            <th class="border-black-800 dark:border-black-50 dark:bg-black-400 bg-gray-300 border-b-2 border-r-2"
                ngxTippy="First period">1</th>
            <th class="border-black-800 dark:border-black-50 dark:bg-black-400 bg-gray-300 border-b-2 border-r-2"
                ngxTippy="Second period">2</th>
            <th class="border-black-800 dark:border-black-50 dark:bg-black-400 bg-gray-300 border-b-2 border-r-2"
                ngxTippy="Third period">3</th>
            <th class="border-black-800 dark:border-black-50 dark:text-black-800 bg-[#ef4444] border-b-2 border-r-2"
                ngxTippy="Overtime period(s)">OT</th>
            <th class="border-black-800 dark:border-black-50 dark:text-black-800 bg-[#6bd369] border-b-2"
                ngxTippy="Final score">FINAL</th>
        </tr>
        <tr>
            <td class="border-black-800 dark:border-black-50 border-r"
                [style.background]="this.boxScore?.awayTeam?.color || 'white'"
                [style.color]="getContrastingColor(this.boxScore?.awayTeam?.color) || 'black'"
                ngxTippy
                tippyName="away-team-tippy">
                <p class="w-max mx-auto font-semibold">{{ this.boxScore?.awayTeam?.code || 'AWAY' }}</p>
            </td>
            <td *ngFor="let i of [].constructor(4); let j = index"
                class="border-black-800 dark:border-black-50 bg-gray-50 dark:bg-black-100 text-center border-r">{{ getNumberOfGoals(true, j + 1) }}</td>
            <td class="border-black-800 dark:border-black-50 bg-gray-50 dark:bg-black-100 text-center">{{ getNumberOfGoals(true) }}</td>
        </tr>
        <tr>
            <td class="border-black-800 dark:border-black-50 border-r"
                [style.background]="this.boxScore?.homeTeam?.color || '#494949'"
                [style.color]="getContrastingColor(this.boxScore?.homeTeam?.color) || 'white'"
                ngxTippy
                tippyName="home-team-tippy">
                <p class="w-max mx-auto font-semibold">{{ this.boxScore?.homeTeam?.code || 'HOME' }}</p>
            </td>
            <td *ngFor="let i of [].constructor(4); let j = index"
                class="border-black-800 dark:border-black-50 dark:bg-black-200 text-center bg-gray-100 border-r">{{ getNumberOfGoals(false, j + 1) }}</td>
            <td class="border-black-800 dark:border-black-50 dark:bg-black-200 text-center bg-gray-100">{{ getNumberOfGoals(false) }}</td>
        </tr>
    </table>
    <!-- END: Details -->
</div>