<table class="w-max dark:text-white flex flex-col my-5 shadow-md select-none">
  <div
    class="border-black-800 dark:border-black-50 font-semibold text-center border-2 border-b-0"
    [class]="this.team === 'away' ? 'bg-gray-300 dark:bg-white text-black-800' : 'bg-black-50 dark:bg-black-500 text-gray-50'"
    [ngxTippy]="getDescription()"
    >{{ getDescription() | uppercase }}</div
  >
  <thead
    class="w-max dark:text-white border-black-800 dark:border-black-50 text-black-800 dark:bg-black-400 flex flex-row items-center font-bold bg-gray-100 border-2">
    <th class="border-r-2 border-black-800 dark:border-black-50 w-[14.272rem] text-center" ngxTippy="The player">PLAYER</th>
    <th class="border-r-2 border-black-800 dark:border-black-50 w-[3.25rem] text-center" ngxTippy="Goals">G</th>
    <th class="border-r-2 border-black-800 dark:border-black-50 w-[3.25rem] text-center" ngxTippy="Assists">A</th>
    <th class="border-r-2 border-black-800 dark:border-black-50 w-[3.25rem] text-center" ngxTippy="Points">PTS</th>
    <th class="border-r-2 border-black-800 dark:border-black-50 w-[3.25rem] text-center" ngxTippy="Shots on Goal">SOG</th>
    <th class="border-r-2 border-black-800 dark:border-black-50 w-[3.25rem] text-center" ngxTippy="Blocked shots">BS</th>
    <th class="border-r-2 border-black-800 dark:border-black-50 w-[3.25rem] text-center" ngxTippy="Shots allowed (since S4)">SA</th>
    <th colspan="2" class="border-r-2 border-black-800 dark:border-black-50 w-[3.25rem] text-center" ngxTippy="Plus-Minus">+/-</th>
    <!-- <th class="border-r-2 border-black-800 dark:border-black-50 w-[3.25rem] text-center" ngxTippy="Penalty minutes">PIM</th> -->
    <!-- <th class="border-r-2 border-black-800 dark:border-black-50 w-[3.25rem] text-center" ngxTippy="Hits">HITS</th> -->
    <th class="border-r-2 border-black-800 dark:border-black-50 w-[3.25rem] text-center" ngxTippy="Faceoff wins">FOW</th>
    <th class="border-r-2 border-black-800 dark:border-black-50 w-[3.25rem] text-center" ngxTippy="Faceoff losses">FOL</th>
    <th colspan="2" class="border-r-2 border-black-800 dark:border-black-50 w-[4.24rem] text-center" ngxTippy="Shifts">SHFT</th>
    <th class="border-black-800 dark:border-black-50 w-[4.24rem] text-center" ngxTippy="Time on Ice">TOI</th>
  </thead>
  <tbody
    class="border-black-800 dark:border-black-50 scrollbar-thumb-gray-400 hover:scrollbar-thumb-gray-500 scrollbar-track-gray-300 dark:scrollbar-thumb-black dark:scrollbar-track-black-800 dark:hover:scrollbar-thumb-black-900 scrollbar-thin flex flex-col overflow-y-scroll border-b-2 border-l-2 border-r-2"
    [style.max-height]="getMaxStatsHeight()">
    <!-- START: Roster Players -->
    <tr
      *ngFor="let stat of getStats(); let i = index"
      class="hover:bg-gray-200 odd:bg-gray-50 dark:odd:bg-black-200 even:bg-gray-100 dark:even:bg-black-300 flex flex-row">
      <td class="border-r border-black-800 dark:border-black-50 w-[14.272rem] text-center hover:font-bold">
        <a [href]="getProfileLink(stat?.member?.username)" target="_blank">{{ stat?.member?.username }}</a>
      </td>
      <td class="border-r border-black-800 dark:border-black-50 w-[3.25rem] text-center">{{ getGoals(stat) || 0 }}</td>
      <td class="border-r border-black-800 dark:border-black-50 w-[3.25rem] text-center">{{ getAssists(stat) || 0 }}</td>
      <td class="border-r border-black-800 dark:border-black-50 w-[3.25rem] text-center">{{ getPoints(stat) || 0 }}</td>
      <td class="border-r border-black-800 dark:border-black-50 w-[3.25rem] text-center">{{ stat.shotsOnGoal || 0 }}</td>
      <td class="border-r border-black-800 dark:border-black-50 w-[3.25rem] text-center">{{ stat.blockedShots || 0 }}</td>
      <td class="border-r border-black-800 dark:border-black-50 w-[3.25rem] text-center">
        {{ boxScore?.season?.value < 4 ? '-' : stat.shotsAllowed || 0 }}
      </td>
      <td class="border-r border-black-800 dark:border-black-50 w-[3.25rem] text-center">{{ stat.plusMinus || 0 | signed }}</td>
      <td class="border-r border-black-800 dark:border-black-50 w-[3.25rem] text-center">{{ stat.faceoffsWon || 0 }}</td>
      <!-- <td class="border-r border-black-800 dark:border-black-50 w-[3.25rem] text-center">{{ stat.penaltyMinutes || 0 }}</td> -->
      <td class="border-r border-black-800 dark:border-black-50 w-[3.25rem] text-center">{{ stat.faceoffsLost || 0 }}</td>
      <!-- <td class="border-r border-black-800 dark:border-black-50 w-[3.25rem] text-center">{{ stat.hits || 0 }}</td> -->
      <td class="border-r border-black-800 dark:border-black-50 w-[4.24rem] text-center">{{ stat.shifts || 0 }}</td>
      <td class="w-[4.24rem] text-center">{{ stat.timeOnIce || 0 | duration }}</td>
    </tr>
    <!-- END: Roster Players -->

    <!-- START: Null Roster -->
    <div *ngIf="!getStats()">
      <tr
        *ngFor="let i of [].constructor(getMaxVisibleStats()); let j = index"
        class="odd:bg-gray-50 dark:odd:bg-black-200 even:bg-gray-100 dark:even:bg-black-300 flex flex-row">
        <td class="border-r border-black-800 dark:border-black-50 w-[14.272rem]">&nbsp;</td>
        <td class="border-r border-black-800 dark:border-black-50 w-[3.25rem]">&nbsp;</td>
        <td class="border-r border-black-800 dark:border-black-50 w-[3.25rem]">&nbsp;</td>
        <td class="border-r border-black-800 dark:border-black-50 w-[3.25rem]">&nbsp;</td>
        <td class="border-r border-black-800 dark:border-black-50 w-[3.25rem]">&nbsp;</td>
        <td class="border-r border-black-800 dark:border-black-50 w-[3.25rem]">&nbsp;</td>
        <td class="border-r border-black-800 dark:border-black-50 w-[3.25rem]">&nbsp;</td>
        <td class="border-r border-black-800 dark:border-black-50 w-[3.25rem]">&nbsp;</td>
        <td class="border-r border-black-800 dark:border-black-50 w-[3.25rem]">&nbsp;</td>
        <td class="border-r border-black-800 dark:border-black-50 w-[3.25rem]">&nbsp;</td>
        <td class="border-r border-black-800 dark:border-black-50 w-[4.24rem]">&nbsp;</td>
        <td class="w-[4.24rem]">&nbsp;</td>
      </tr>
    </div>
    <!-- END: Null Roster -->

    <!-- START: Roster Filling -->
    <div *ngIf="getStats() && getStats().length < getMaxVisibleStats()">
      <tr
        *ngFor="let i of [].constructor(getMaxVisibleStats() - getStats().length); let j = index"
        class="flex flex-row"
        [ngClass]="j % 2 !== (getStats().length % 2 == 0 ? 1 : 0) ? 'bg-gray-50 dark:bg-black-200' : 'bg-gray-100 dark:bg-black-300'">
        <td class="border-r border-black-800 dark:border-black-50 w-[14.272rem]">&nbsp;</td>
        <td class="border-r border-black-800 dark:border-black-50 w-[3.25rem]">&nbsp;</td>
        <td class="border-r border-black-800 dark:border-black-50 w-[3.25rem]">&nbsp;</td>
        <td class="border-r border-black-800 dark:border-black-50 w-[3.25rem]">&nbsp;</td>
        <td class="border-r border-black-800 dark:border-black-50 w-[3.25rem]">&nbsp;</td>
        <td class="border-r border-black-800 dark:border-black-50 w-[3.25rem]">&nbsp;</td>
        <td class="border-r border-black-800 dark:border-black-50 w-[3.25rem]">&nbsp;</td>
        <td class="border-r border-black-800 dark:border-black-50 w-[3.25rem]">&nbsp;</td>
        <td class="border-r border-black-800 dark:border-black-50 w-[3.25rem]">&nbsp;</td>
        <td class="border-r border-black-800 dark:border-black-50 w-[3.25rem]">&nbsp;</td>
        <td class="border-r border-black-800 dark:border-black-50 w-[4.24rem]">&nbsp;</td>
        <td class="w-[4.24rem]">&nbsp;</td>
      </tr>
    </div>
    <!-- END: Roster Filling -->
  </tbody>
</table>
