<div class="flex flex-col space-y-8 select-none">
  <!-- START: General Stats -->
  <div *ngIf="!this.isError" id="general-stats" class="flex flex-row justify-around lg:text-xl">
    <div class="mx-auto space-x-1.5 md:space-x-3 md:mx-0 w-max text-center">
      <span class="text-3xl font-semibold lg:text-4xl">{{ this.member?.dateJoined | daysSince }}</span>
      <span class="text-gray-400 dark:text-gray-300 whitespace-nowrap" [ngxTippy]="getFirstSeenDate()">days since first seen</span>
    </div>
    <div class="mx-auto space-x-1.5 md:space-x-3 md:mx-0 w-max text-center">
      <span class="text-3xl font-semibold lg:text-4xl">{{ this.member?.timePlayed | hours | round: 1 }}</span>
      <span class="text-gray-400 dark:text-gray-300 whitespace-nowrap" ngxTippy="Hours Played">hours played</span>
    </div>
    <div class="mx-auto space-x-1.5 md:space-x-3 md:mx-0 w-max text-center">
      <span class="text-3xl font-semibold lg:text-4xl">{{ getHoursPerDay() | round: 2 }}</span>
      <span class="text-gray-400 dark:text-gray-300 whitespace-nowrap" ngxTippy="Average Hours per Day">hr/day</span>
    </div>
    <div class="mx-auto space-x-1.5 md:space-x-3 md:mx-0 w-max text-center">
      <span class="text-3xl font-semibold lg:text-4xl">{{ this.member?.joinPosition ? this.member.joinPosition : 0 }}</span>
      <span class="text-gray-400 dark:text-gray-300 whitespace-nowrap" ngxTippy="Join Position">join position</span>
    </div>
  </div>
  <!-- END: General Stats -->

  <!-- START: Specific Stats -->
  <div class="mx-auto w-[97%]">
    <!-- START: League Tabs -->
    <div class="flex-row flex-wrap hidden w-full text-md md:flex border-black-300 dark:border-gray-100" [ngClass]="this.isError ? '' : 'border-b'">
      <div
        *ngFor="let league of getLeagues(); let i = index"
        [ngxTippy]="league.name"
        [tippyName]="i + 'league'"
        (click)="changeLeagueTab(league)"
        class="px-5 py-1 text-center rounded-t-lg cursor-pointer min-w-[9rem] focus:outline-none"
        tabindex="0"
        [ngClass]="
          this.leagueTab === league
            ? 'border-b-2 dark:bg-black-100 bg-opacity-10 border-black-300 dark:border-gray-100 bg-black'
            : 'hover:border-b-2 hover:bg-black dark:hover:bg-gray-100 dark:hover:bg-opacity-10 hover:bg-opacity-5 dark:border-gray-50 hover:border-black-200
                                       focus:border-b-2 focus:bg-black dark:focus:bg-gray-100 dark:focus:bg-opacity-10 focus:bg-opacity-5 focus:border-black-200'
        ">
        <span>{{ league.code | uppercase }}</span>
      </div>
    </div>
    <!-- END: League Tabs -->

    <!-- START: Loading Text -->
    <span *ngIf="this.isLoading" class="flex flex-row items-center mx-auto w-max" [ngClass]="this.isError ? '' : 'mt-14'">
      <span>{{ this.loadingText }}</span>
    </span>
    <!-- END: Loading Text -->

    <!-- START: Season Tabs -->
    <div
      *ngIf="getSeasons().length > 0"
      class="flex-row flex-wrap hidden mx-auto mt-10 border-b text-md md:flex border-black-300 dark:border-gray-100">
      <div
        *ngFor="let season of getSeasons(); let i = index"
        (click)="changeSeasonTab(season)"
        class="px-5 py-1 text-center rounded-t-lg cursor-pointer min-w-[9rem] focus:outline-none last-of-type:ml-auto"
        tabindex="0"
        [ngClass]="
          this.seasonTab?.value === season?.value
            ? 'border-b-2 dark:bg-black-100 bg-opacity-10 border-black-300 dark:border-gray-100 bg-black'
            : 'hover:border-b-2 hover:bg-black dark:hover:bg-gray-100 dark:hover:bg-opacity-10 hover:bg-opacity-5 dark:border-gray-50 hover:border-black-200
                                           focus:border-b-2 focus:bg-black dark:focus:bg-gray-100 dark:focus:bg-opacity-10 focus:bg-opacity-5 focus:border-black-200'
        ">
        <span>{{ season.name | uppercase }}</span>
      </div>
    </div>
    <!-- END: Season Tabs -->

    <!-- START: Statistics -->
    <div *ngIf="this.leagueTab && this.seasonTab" class="flex-col hidden space-y-16 md:flex mt-7">
      <div *ngFor="let seasonType of getSeasonTypes(); let i = index">
        <div class="flex flex-row items-center"></div>
        <span class="border-black-50 lg:text-[2rem] w-max pb-1.5 pr-0.5 text-3xl font-semibold border-b tracking-wide mr-5">{{
          seasonType.name + ' Statistics' | capitalize
        }}</span>
        <button
          class="pt-0.5 px-2 dark:hover:bg-white/50 my-auto text-sm uppercase rounded-sm dark:bg-white/25 hover:bg-black/25 bg-black/10 font-semibold tracking-wider"
          (click)="this.isSkaterStats = !this.isSkaterStats"
          >{{ this.isSkaterStats ? 'skater' : 'goaltender' }}</button
        >
        <div class="grid grid-cols-4 mx-6 mt-8 text-lg lg:text-2xl gap-y-8 gap-x-28">
          <!-- START: Games Played -->
          <div class="table mx-auto space-x-3 md:mx-0">
            <span class="text-3xl font-semibold lg:text-4xl">{{ getGamesPlayed(seasonType) || 0 | number }}</span>
            <span class="text-gray-400 dark:text-gray-300 whitespace-nowrap" ngxTippy="Games Played">games played</span>
          </div>
          <!-- END: Games Played -->

          <!-- START: Wins -->
          <div class="table mx-auto space-x-3 md:mx-0">
            <span class="text-3xl font-semibold lg:text-4xl">{{ getTotalWins(seasonType) || 0 | number }}</span>
            <span class="text-gray-400 dark:text-gray-300 whitespace-nowrap" ngxTippy="Total Wins">wins</span>
          </div>
          <!-- END: Wins -->

          <!-- START: Losses -->
          <div class="table mx-auto space-x-3 md:mx-0">
            <span class="text-3xl font-semibold lg:text-4xl">{{ getLosses(seasonType) || 0 | number }}</span>
            <span class="text-gray-400 dark:text-gray-300 whitespace-nowrap" ngxTippy="Total Losses">losses</span>
          </div>
          <!-- END: Losses -->

          <!-- START: Overtime Losses -->
          <div class="table mx-auto space-x-3 md:mx-0">
            <span class="text-3xl font-semibold lg:text-4xl">{{ getOTLosses(seasonType) || 0 | number }}</span>
            <span class="text-gray-400 dark:text-gray-300 whitespace-nowrap" ngxTippy="Total Overtime Losses">OT losses</span>
          </div>
          <!-- END: Overtime Losses -->

          <!-- START: Goals -->
          <div *ngIf="this.isSkaterStats" class="table mx-auto space-x-3 md:mx-0">
            <span class="text-3xl font-semibold lg:text-4xl">{{ getGoals(seasonType) || 0 | number }}</span>
            <span class="text-gray-400 dark:text-gray-300 whitespace-nowrap" ngxTippy="Total Goals">goals</span>
          </div>
          <!-- END: Goals -->

          <!-- START: Assists -->
          <div *ngIf="this.isSkaterStats" class="table mx-auto space-x-3 md:mx-0">
            <span class="text-3xl font-semibold lg:text-4xl">{{ getAssists(seasonType) || 0 | number }}</span>
            <span class="text-gray-400 dark:text-gray-300 whitespace-nowrap" ngxTippy="Total Assists">assists</span>
          </div>
          <!-- END: Assists -->

          <!-- START: Points -->
          <div *ngIf="this.isSkaterStats" class="table mx-auto space-x-3 md:mx-0">
            <span class="text-3xl font-semibold lg:text-4xl">{{ getPoints(seasonType) || 0 | number }}</span>
            <span class="text-gray-400 dark:text-gray-300 whitespace-nowrap" ngxTippy="Total Points">points</span>
          </div>
          <!-- END: Points -->

          <!-- START: Overtime Goals -->
          <div *ngIf="this.isSkaterStats" class="table mx-auto space-x-3 md:mx-0">
            <span class="text-3xl font-semibold lg:text-4xl">{{ getOTGoals(seasonType) || 0 | number }}</span>
            <span class="text-gray-400 dark:text-gray-300 whitespace-nowrap" ngxTippy="Total Overtime Goals">OT goals</span>
          </div>
          <!-- END: Overtime Goals -->

          <!-- START: Shots on Goal -->
          <div *ngIf="this.isSkaterStats" class="table mx-auto space-x-3 md:mx-0">
            <span class="text-3xl font-semibold lg:text-4xl">{{ getShotsOnGoal(seasonType) || 0 | number }}</span>
            <span class="text-gray-400 dark:text-gray-300 whitespace-nowrap" ngxTippy="Total Shots on Goal">shots on goal</span>
          </div>
          <!-- END: Shots on Goal -->

          <!-- START: Plus-Minus -->
          <div *ngIf="this.isSkaterStats" class="table mx-auto space-x-3 md:mx-0">
            <span class="text-3xl font-semibold lg:text-4xl">{{ getPlusMinus(seasonType) || 0 | signed }}</span>
            <span class="text-gray-400 dark:text-gray-300 whitespace-nowrap" ngxTippy="Total Plus-Minus">+/-</span>
          </div>
          <!-- END: Plus-Minus -->

          <!-- START: Average Time on Ice -->
          <!-- <div class="table mx-auto space-x-3 md:mx-0">
                        <span class="lg:text-4xl items-end space-x-0.5 text-3xl font-semibold">
                            <span>{{ 0 || 0 | number }}</span>
                            <span class="text-xl lg:text-2xl">m</span>
                        </span>
                        <span class="text-gray-400 dark:text-gray-300 whitespace-nowrap"
                        [tippyName]="seasonType + ' ' + i + 'toi'"
                              ngxTippy="Average Time on Ice (minutes)">TOI</span>
                    </div> -->
          <!-- END: Average Time on Ice -->

          <!-- START: Shots Against -->
          <div *ngIf="!this.isSkaterStats" class="table mx-auto space-x-3 md:mx-0">
            <span class="text-3xl font-semibold lg:text-4xl">{{ getShotsAgainst(seasonType) || 0 | number }}</span>
            <span class="text-gray-400 dark:text-gray-300 whitespace-nowrap" ngxTippy="Shots Against">shots against</span>
          </div>
          <!-- END: Shots Against -->

          <!-- START: Saves Made -->
          <div *ngIf="!this.isSkaterStats" class="table mx-auto space-x-3 md:mx-0">
            <span class="text-3xl font-semibold lg:text-4xl">{{ getSaves(seasonType) || 0 | number }}</span>
            <span class="text-gray-400 dark:text-gray-300 whitespace-nowrap" ngxTippy="Saves Made">saves</span>
          </div>
          <!-- END: Saves Made -->

          <!-- START: Save Percentage -->
          <div *ngIf="!this.isSkaterStats" class="table mx-auto space-x-3 md:mx-0">
            <span class="text-3xl font-semibold lg:text-4xl">{{ getSavePercentage(seasonType) || 0 | number : '1.3-3' }}</span>
            <span class="text-gray-400 dark:text-gray-300 whitespace-nowrap" ngxTippy="Save Percentage">SV%</span>
          </div>
          <!-- END: Save Percentage -->

          <!-- START: Shutouts -->
          <div *ngIf="!this.isSkaterStats" class="table mx-auto space-x-3 md:mx-0">
            <span class="text-3xl font-semibold lg:text-4xl">{{ '-' }}</span>
            <span class="text-gray-400 dark:text-gray-300 whitespace-nowrap" ngxTippy="Shutouts">shutouts</span>
          </div>
          <!-- END: Shutouts -->

          <!-- START: Goals Against -->
          <div *ngIf="!this.isSkaterStats" class="table mx-auto space-x-3 md:mx-0">
            <span class="text-3xl font-semibold lg:text-4xl">{{ getGoalsAgainst(seasonType) || 0 | number }}</span>
            <span class="text-gray-400 dark:text-gray-300 whitespace-nowrap" ngxTippy="Goals Against">goals against</span>
          </div>
          <!-- END: Goals Against -->

          <!-- START: Goal Against Average -->
          <div *ngIf="!this.isSkaterStats" class="table mx-auto space-x-3 md:mx-0">
            <span class="text-3xl font-semibold lg:text-4xl">{{ '-' }}</span>
            <span class="text-gray-400 dark:text-gray-300 whitespace-nowrap" ngxTippy="Goal Against Average">GAA</span>
          </div>
          <!-- END: Goal Against Average -->

          <!-- START: Streak -->
          <div class="table mx-auto space-x-3 md:mx-0">
            <span class="text-3xl font-semibold lg:text-4xl">{{ getStreak(seasonType) }}</span>
            <span class="text-gray-400 dark:text-gray-300 whitespace-nowrap" ngxTippy="Current Win/Loss Streak">streak</span>
          </div>
          <!-- END: Streak -->

          <!-- START: Win-Lose Ratio -->
          <div class="table mx-auto space-x-3 md:mx-0 whitespace-nowrap">
            <span class="text-3xl font-semibold lg:text-4xl">{{ getWinLossRatio(seasonType) || 0 | number : '1.2-2' }}</span>
            <span class="text-gray-400 dark:text-gray-300 whitespace-nowrap" ngxTippy="Win-Lose Ratio">WL</span>
          </div>
          <!-- END: Win-Lose Ratio -->
        </div>
      </div>
    </div>
    <!-- END: Statistics -->
  </div>
  <!-- END: Specific Stats -->
</div>
