<!-- <span class="flex mt-5">Still working on stats.</span> -->

<div class="flex flex-col space-y-8">
    <!-- START: General Stats -->
    <div id="general-stats" class="grid grid-cols-4 gap-x-16 lg:text-xl">
        <div class="table mx-auto space-x-3 md:mx-0">
            <span class="text-3xl font-semibold lg:text-4xl">0</span>
            <span class="text-gray-400 dark:text-gray-300 whitespace-nowrap"
                  ngxTippy="First joined on Jan 1, 1970">days since first seen</span>
        </div>
        <div class="table mx-auto space-x-3 md:mx-0">
            <span class="text-3xl font-semibold lg:text-4xl">0.5</span>
            <span class="text-gray-400 dark:text-gray-300 whitespace-nowrap"
                  ngxTippy="Hours Played">hours played</span>
        </div>
        <div class="table mx-auto space-x-3 md:mx-0">
            <span class="text-3xl font-semibold lg:text-4xl">1</span>
            <span class="text-gray-400 dark:text-gray-300 whitespace-nowrap"
                  ngxTippy="Join Position">join position</span>
        </div>
        <div class="table mx-auto space-x-3 md:mx-0">
            <span class="text-3xl font-semibold lg:text-4xl">0</span>
            <span class="text-gray-400 dark:text-gray-300 whitespace-nowrap"
                  ngxTippy="Biscuits (coins)">biscuits</span>
        </div>

    </div>
    <!-- END: General Stats -->

    <hr>

    <!-- START: Total Stats -->
    <div id="total-stats" class="flex flex-col space-y-6">
        <span class="text-3xl font-semibold lg:text-4xl">Total Blockey Hockey</span>
        <div class="grid grid-cols-4 text-lg lg:text-2xl gap-y-5 gap-x-16">
            <div class="table mx-auto space-x-3 md:mx-0">
                <span class="text-3xl font-semibold lg:text-4xl">0</span>
                <span class="text-gray-400 dark:text-gray-300 whitespace-nowrap"
                      ngxTippy="Games Played">games played</span>
            </div>
            <div class="table mx-auto space-x-3 md:mx-0">
                <span class="text-3xl font-semibold lg:text-4xl">0</span>
                <span class="text-gray-400 dark:text-gray-300 whitespace-nowrap"
                      ngxTippy="Total Wins">wins</span>
            </div>
            <div class="table mx-auto space-x-3 md:mx-0">
                <span class="text-3xl font-semibold lg:text-4xl">0</span>
                <span class="text-gray-400 dark:text-gray-300 whitespace-nowrap"
                      ngxTippy="Total Losses">losses</span>
            </div>
            <div class="table mx-auto space-x-3 md:mx-0">
                <span class="text-3xl font-semibold lg:text-4xl">0.00</span>
                <span class="text-gray-400 dark:text-gray-300 whitespace-nowrap"
                      ngxTippy="Win-Lose Ratio">WL</span>
            </div>
            <div class="table mx-auto space-x-3 md:mx-0">
                <span class="text-3xl font-semibold lg:text-4xl">0</span>
                <span class="text-gray-400 dark:text-gray-300 whitespace-nowrap"
                      ngxTippy="Goals">goals</span>
            </div>
            <div class="table mx-auto space-x-3 md:mx-0">
                <span class="text-3xl font-semibold lg:text-4xl">0</span>
                <span class="text-gray-400 dark:text-gray-300 whitespace-nowrap"
                      ngxTippy="Assists">assists</span>
            </div>
            <div class="table mx-auto space-x-3 md:mx-0">
                <span class="text-3xl font-semibold lg:text-4xl">0</span>
                <span class="text-gray-400 dark:text-gray-300 whitespace-nowrap"
                      ngxTippy="Secondary Assists">2nd assists</span>
            </div>
            <div class="table mx-auto space-x-3 md:mx-0">
                <span class="text-3xl font-semibold lg:text-4xl">0</span>
                <span class="text-gray-400 dark:text-gray-300 whitespace-nowrap"
                      ngxTippy="Points">points</span>
            </div>
            <div class="table mx-auto space-x-3 md:mx-0">
                <span class="text-3xl font-semibold lg:text-4xl">0</span>
                <span class="text-gray-400 dark:text-gray-300 whitespace-nowrap"
                      ngxTippy="Overtime Wins">OT wins</span>
            </div>
            <div class="table mx-auto space-x-3 md:mx-0">
                <span class="text-3xl font-semibold lg:text-4xl">0</span>
                <span class="text-gray-400 dark:text-gray-300 whitespace-nowrap"
                      ngxTippy="Overtime Losses">OT losses</span>
            </div>
            <div class="table mx-auto space-x-3 md:mx-0">
                <span class="text-3xl font-semibold lg:text-4xl">0</span>
                <span class="text-gray-400 dark:text-gray-300 whitespace-nowrap"
                      ngxTippy="Forfeit Wins">FFT wins</span>
            </div>
            <div class="table mx-auto space-x-3 md:mx-0">
                <span class="text-3xl font-semibold lg:text-4xl">0</span>
                <span class="text-gray-400 dark:text-gray-300 whitespace-nowrap"
                      ngxTippy="Forfeit Losses">forfeits</span>
            </div>
        </div>
        <!-- END: Total Stats -->
    </div>
</div>