<div class="flex flex-col space-y-8 select-none">
    <!-- START: General Stats -->
    <div *ngIf="!this.isLoading && !this.isError" id="general-stats"
         class="lg:text-xl flex flex-row justify-around">
        <div class="mx-auto space-x-1.5 md:space-x-3 md:mx-0 w-max text-center">
            <span class="lg:text-4xl text-3xl font-semibold">{{ this.member.dateJoined | daysSince }}</span>
            <span class="dark:text-gray-300 whitespace-nowrap text-gray-400"
                  [ngxTippy]="getFirstSeenDate()">days since first seen</span>
        </div>
        <div class="mx-auto space-x-1.5 md:space-x-3 md:mx-0 w-max text-center">
            <span class="lg:text-4xl text-3xl font-semibold">{{ this.member.timePlayed | hours | round : 1 }}</span>
            <span class="dark:text-gray-300 whitespace-nowrap text-gray-400"
                  ngxTippy="Hours Played">hours played</span>
        </div>
        <div class="mx-auto space-x-1.5 md:space-x-3 md:mx-0 w-max text-center">
            <span class="lg:text-4xl text-3xl font-semibold">{{ getHoursPerDay() | round : 2 }}</span>
            <span class="dark:text-gray-300 whitespace-nowrap text-gray-400"
                  ngxTippy="Average Hours per Day">hr/day</span>
        </div>
        <div class="mx-auto space-x-1.5 md:space-x-3 md:mx-0 w-max text-center">
            <span class="lg:text-4xl text-3xl font-semibold">{{ this.member.joinPosition ? this.member.joinPosition : 0 }}</span>
            <span class="dark:text-gray-300 whitespace-nowrap text-gray-400"
                  ngxTippy="Join Position">join position</span>
        </div>
    </div>
    <!-- END: General Stats -->

    <!-- START: Specific Stats -->
    <div class="mx-auto w-[97%]">
        <!-- START: League Tabs -->
        <div class="text-md md:flex border-black-300 dark:border-gray-100 flex-row flex-wrap hidden w-full border-b">
            <div *ngFor="let league of getLeagues()"
                 (click)="changeLeagueTab(league)"
                 class="px-5 py-1 text-center rounded-t-lg cursor-pointer min-w-[9rem] focus:outline-none"
                 tabindex="0"
                 [ngClass]="this.leagueTab === league 
                                    ? 'border-b-2 dark:bg-black-100 bg-opacity-10 border-black-300 dark:border-gray-100 bg-black' 
                                    : 'hover:border-b-2 hover:bg-black dark:hover:bg-gray-100 dark:hover:bg-opacity-10 hover:bg-opacity-5 dark:border-gray-50 hover:border-black-200
                                       focus:border-b-2 focus:bg-black dark:focus:bg-gray-100 dark:focus:bg-opacity-10 focus:bg-opacity-5 focus:border-black-200' ">
                <span>{{ league | uppercase }}</span>
            </div>
        </div>
        <!-- END: League Tabs -->

        <span *ngIf="this.gamesPlayed && this.gamesPlayed.length < 1"
              class="w-max mt-14 flex flex-row items-center mx-auto">
            <span>{{ this.loadingText }}</span>
        </span>

        <!-- START: Season Tabs -->
        <div *ngIf="getSeasons().length > 1"
             class="text-md md:flex border-black-300 dark:border-gray-100 flex-row flex-wrap hidden mx-auto mt-10 border-b">
            <div *ngFor="let season of getSeasons()"
                 (click)="changeSeasonTab(season)"
                 class="px-5 py-1 text-center rounded-t-lg cursor-pointer min-w-[9rem] focus:outline-none last-of-type:ml-auto"
                 tabindex="0"
                 [ngClass]="this.seasonTab === season 
                                        ? 'border-b-2 dark:bg-black-100 bg-opacity-10 border-black-300 dark:border-gray-100 bg-black' 
                                        : 'hover:border-b-2 hover:bg-black dark:hover:bg-gray-100 dark:hover:bg-opacity-10 hover:bg-opacity-5 dark:border-gray-50 hover:border-black-200
                                           focus:border-b-2 focus:bg-black dark:focus:bg-gray-100 dark:focus:bg-opacity-10 focus:bg-opacity-5 focus:border-black-200' ">
                <span>{{ season | uppercase }}</span>
            </div>
        </div>
        <!-- END: Season Tabs -->

        <!-- START: Statistics -->
        <div *ngIf="this.leagueTab && this.seasonTab"
             class="md:flex mt-7 flex-col hidden space-y-16">
            <div *ngFor="let seasonType of getSeasonTypes()">
                <span class="border-black-50 lg:text-[2rem] w-max pb-1.5 pr-0.5 text-3xl font-semibold border-b tracking-wide">{{ seasonType + ' Statistics' | capitalize }}</span>
                <div class="lg:text-2xl gap-y-8 gap-x-28 grid grid-cols-4 mx-6 mt-8 text-lg">
                    <!-- START: Games Played -->
                    <div class="md:mx-0 table mx-auto space-x-3">
                        <span class="lg:text-4xl text-3xl font-semibold">{{ getNumberOfGamesPlayed(seasonType) || 0 | number }}</span>
                        <span class="dark:text-gray-300 whitespace-nowrap text-gray-400"
                              ngxTippy="Games Played">games played</span>
                    </div>
                    <!-- END: Games Played -->

                    <!-- START: Wins -->
                    <div class="md:mx-0 table mx-auto space-x-3">
                        <span class="lg:text-4xl text-3xl font-semibold">{{ getNumberOfWins(seasonType) || 0 | number }}</span>
                        <span class="dark:text-gray-300 whitespace-nowrap text-gray-400"
                              ngxTippy="Total Wins">wins</span>
                    </div>
                    <!-- END: Wins -->

                    <!-- START: Losses -->
                    <div class="md:mx-0 table mx-auto space-x-3">
                        <span class="lg:text-4xl text-3xl font-semibold">{{ getNumberOfLosses(seasonType, false) || 0 | number }}</span>
                        <span class="dark:text-gray-300 whitespace-nowrap text-gray-400"
                              ngxTippy="Total Losses">losses</span>
                    </div>
                    <!-- END: Losses -->

                    <!-- START: Draws -->
                    <div class="md:mx-0 table mx-auto space-x-3">
                        <span class="lg:text-4xl text-3xl font-semibold">{{ getNumberOfLosses(seasonType, true) || 0 | number }}</span>
                        <span class="dark:text-gray-300 whitespace-nowrap text-gray-400"
                              ngxTippy="Total Overtime Losses">OT losses</span>
                    </div>
                    <!-- END: Draws -->

                    <!-- START: Goals -->
                    <div class="md:mx-0 table mx-auto space-x-3">
                        <span class="lg:text-4xl text-3xl font-semibold">{{ getNumberOfGoals(seasonType) || 0 | number }}</span>
                        <span class="dark:text-gray-300 whitespace-nowrap text-gray-400"
                              ngxTippy="Total Goals">goals</span>
                    </div>
                    <!-- END: Goals -->

                    <!-- START: Assists -->
                    <div class="md:mx-0 table mx-auto space-x-3">
                        <span class="lg:text-4xl text-3xl font-semibold">{{ getNumberOfAssists(seasonType) || 0 | number }}</span>
                        <span class="dark:text-gray-300 whitespace-nowrap text-gray-400"
                              ngxTippy="Total Assists">assists</span>
                    </div>
                    <!-- END: Assists -->

                    <!-- START: Points -->
                    <div class="md:mx-0 table mx-auto space-x-3">
                        <span class="lg:text-4xl text-3xl font-semibold">{{ getNumberOfPoints(seasonType) || 0 | number }}</span>
                        <span class="dark:text-gray-300 whitespace-nowrap text-gray-400"
                              ngxTippy="Total Points">points</span>
                    </div>
                    <!-- END: Points -->

                    <!-- START: Overtime Goals -->
                    <div class="md:mx-0 table mx-auto space-x-3">
                        <span class="lg:text-4xl text-3xl font-semibold">{{ getNumberOfOvertimeGoals(seasonType) || 0 | number }}</span>
                        <span class="dark:text-gray-300 whitespace-nowrap text-gray-400"
                              ngxTippy="Total Overtime Goals">OT goals</span>
                    </div>
                    <!-- END: Overtime Goals -->

                    <!-- START: Shots on Goal Taken -->
                    <div class="md:mx-0 table mx-auto space-x-3">
                        <span class="lg:text-4xl text-3xl font-semibold">{{ 0 || 0 | number }}</span>
                        <span class="dark:text-gray-300 whitespace-nowrap text-gray-400"
                              ngxTippy="Shots on Goal Taken">shots</span>
                    </div>
                    <!-- END: Shots on Goal Taken -->

                    <!-- START: Plus-Minus -->
                    <div class="md:mx-0 table mx-auto space-x-3">
                        <span class="lg:text-4xl text-3xl font-semibold">{{ getPlusMinus(seasonType) || 0 | signed }}</span>
                        <span class="dark:text-gray-300 whitespace-nowrap text-gray-400"
                              ngxTippy="Total Plus-Minus">+/-</span>
                    </div>
                    <!-- END: Plus-Minus -->

                    <!-- START: Average Time on Ice -->
                    <!-- <div class="md:mx-0 table mx-auto space-x-3">
                        <span class="lg:text-4xl items-end space-x-0.5 text-3xl font-semibold">
                            <span>{{ 0 || 0 | number }}</span>
                            <span class="lg:text-2xl text-xl">m</span>
                        </span>
                        <span class="dark:text-gray-300 whitespace-nowrap text-gray-400"
                              ngxTippy="Average Time on Ice (minutes)">TOI</span>
                    </div> -->
                    <!-- END: Average Time on Ice -->

                    <!-- START: Streak -->
                    <div class="md:mx-0 table mx-auto space-x-3">
                        <span class="lg:text-4xl text-3xl font-semibold">{{ getCurrentStreak(seasonType) }}</span>
                        <span class="dark:text-gray-300 whitespace-nowrap text-gray-400"
                              ngxTippy="Current win/loss streak">streak</span>
                    </div>
                    <!-- END: Streak -->

                    <!-- START: Win-Lose Ratio -->
                    <div class="md:mx-0 whitespace-nowrap table mx-auto space-x-3">
                        <span class="lg:text-4xl text-3xl font-semibold">{{ this.calculateWinLoseRatio(seasonType) || 0 | number: '1.2-2' }}</span>
                        <span class="dark:text-gray-300 whitespace-nowrap text-gray-400"
                              ngxTippy="Win-Lose Ratio">WL</span>
                    </div>
                    <!-- END: Win-Lose Ratio -->
                </div>
            </div>
        </div>
        <!-- END: Statistics -->
    </div>
    <!-- END: Specific Stats -->
</div>