<table class="flex flex-col my-5 shadow-md select-none w-max dark:text-white">
  <div
    class="font-semibold text-center border-2 border-b-0 border-black-800 dark:border-black-50"
    [class]="
      this.isVisitor
        ? 'bg-gray-300 dark:bg-white text-black-800'
        : 'bg-black-50 dark:bg-black-500 text-gray-50'
    "
    [tippyName]="this.isVisitor + 'title'"
    [ngxTippy]="getDescription()"
  >
    {{ this.isVisitor ? "VISITING TEAM GOALS" : "HOME TEAM GOALS" }}
  </div>
  <thead
    class="flex flex-row items-center font-bold bg-gray-100 border-2 w-max dark:text-white border-black-800 dark:border-black-50 text-black-800 dark:bg-black-400"
  >
    <th
      class="border-r-2 border-black-800 dark:border-black-50 w-[3.5rem] text-center"
      [tippyName]="this.isVisitor + 'goalSequence'"
      ngxTippy="The goal sequence"
    >
      #
    </th>
    <th
      class="border-r-2 border-black-800 dark:border-black-50 w-[3.5rem] text-center"
      [tippyName]="this.isVisitor + 'goalPeriod'"
      ngxTippy="Period in which the goal was scored"
    >
      PER
    </th>
    <th
      class="border-r-2 border-black-800 dark:border-black-50 w-[4.5rem] text-center"
      [tippyName]="this.isVisitor + 'goalTime'"
      ngxTippy="Time into the period when the goal was scored"
    >
      TIME
    </th>
    <th
      class="border-r-2 border-black-800 dark:border-black-50 w-[12rem] text-center"
      [tippyName]="this.isVisitor + 'goalScorer'"
      ngxTippy="The player credited for the goal"
    >
      SCORER
    </th>
    <th
      colspan="2"
      class="border-r-2 border-black-800 dark:border-black-50 w-[24rem] text-center"
      [tippyName]="this.isVisitor + 'goalAssistants'"
      ngxTippy="Player(s) that assisted the goal scorer"
    >
      ASSISTANT(S)
    </th>
    <th
      class="border-black-800 dark:border-black-50 w-[4.5rem] text-center"
      [tippyName]="this.isVisitor + 'goalType'"
      ngxTippy="The type of goal (i.e. power play)"
    >
      TYPE
    </th>
  </thead>
  <tbody
    class="flex flex-col overflow-y-scroll border-b-2 border-l-2 border-r-2 border-black-800 dark:border-black-50 scrollbar-thumb-gray-400 hover:scrollbar-thumb-gray-500 scrollbar-track-gray-300 dark:scrollbar-thumb-black dark:scrollbar-track-black-800 dark:hover:scrollbar-thumb-black-900 scrollbar-thin"
    [style.max-height]="getMaxGoalsHeight()"
  >
    <!-- START: Roster Players -->
    <tr
      *ngFor="let goal of getGoals(); let i = index"
      class="flex flex-row hover:bg-gray-200 odd:bg-gray-50 dark:odd:bg-black-200 even:bg-gray-100 dark:even:bg-black-300"
    >
      <td
        class="border-r border-black-800 dark:border-black-50 w-[3.5rem] text-center"
        [ngClass]="goal.isDisallowed ? 'text-opacity-80 text-red-500' : ''"
      >
        {{ getGoalNumber(goal) }}
      </td>
      <td
        class="border-r border-black-800 dark:border-black-50 w-[3.5rem] text-center"
        [ngClass]="goal.isDisallowed ? 'text-opacity-80 text-red-500' : ''"
      >
        {{ getPeriod(goal) }}
      </td>
      <td
        class="border-r border-black-800 dark:border-black-50 w-[4.5rem] text-center"
        [ngClass]="goal.isDisallowed ? 'text-opacity-80 text-red-500' : ''"
      >
        {{ goal?.periodTime | duration }}
      </td>
      <td
        class="border-r border-black-800 dark:border-black-50 w-[12rem] text-center hover:font-semibold"
        [class]="goal.goalScorer ? 'cursor-pointer' : 'cursor-default'"
      >
        <a
          *ngIf="goal.goalScorer"
          [href]="getProfileLink(goal?.goalScorer?.player?.member)"
          target="_blank"
          [ngClass]="goal.isDisallowed ? 'text-opacity-80 text-red-500' : ''"
          >{{ goal?.goalScorer?.player?.member?.username }}</a
        >
      </td>
      <td
        class="border-r border-black-800 dark:border-black-50 w-[12rem] hover:font-semibold text-center"
        [class]="goal.primaryAssistant ? 'cursor-pointer' : 'cursor-default'"
      >
        <a
          *ngIf="goal.primaryAssistant"
          [href]="getProfileLink(goal.primaryAssistant?.player?.member)"
          target="_blank"
          [ngClass]="goal.isDisallowed ? 'text-opacity-80 text-red-500' : ''"
          >{{ goal?.primaryAssistant?.player?.member?.username }}</a
        >
      </td>
      <td
        class="border-r border-black-800 dark:border-black-50 w-[12rem] hover:font-semibold text-center"
        [class]="goal.secondaryAssistant ? 'cursor-pointer' : 'cursor-default'"
      >
        <a
          *ngIf="goal.secondaryAssistant"
          [href]="getProfileLink(goal.secondaryAssistant?.player?.member)"
          target="_blank"
          [ngClass]="goal.isDisallowed ? 'text-opacity-80 text-red-500' : ''"
          >{{ goal?.secondaryAssistant?.player?.member?.username }}</a
        >
      </td>
      <td
        class="w-[4.5rem] text-center my-auto"
        [ngClass]="{
          'text-black/25 dark:text-white/25 font-semibold': !getGoalType(goal)
        }"
        [tippyName]="goal.id + 'goal'"
        [ngxTippy]="getGoalTypeDescription(goal) || 'Even Strength Goal'"
        [ngClass]="goal.isDisallowed ? 'text-opacity-80 text-red-500' : ''"
      >
        {{ getGoalType(goal) || "&ndash;" }}
      </td>
    </tr>
    <!-- END: Roster Players -->

    <!-- START: Null Roster -->
    <div *ngIf="getGoals() == null">
      <tr
        *ngFor="let i of [].constructor(getMaxVisibleGoals()); let j = index"
        class="flex flex-row odd:bg-gray-50 dark:odd:bg-black-200 even:bg-gray-100 dark:even:bg-black-300"
      >
        <td class="border-r border-black-800 dark:border-black-50 w-[3.5rem]">
          &nbsp;
        </td>
        <td class="border-r border-black-800 dark:border-black-50 w-[3.5rem]">
          &nbsp;
        </td>
        <td class="border-r border-black-800 dark:border-black-50 w-[4.5rem]">
          &nbsp;
        </td>
        <td class="border-r border-black-800 dark:border-black-50 w-[12rem]">
          &nbsp;
        </td>
        <td class="border-r border-black-800 dark:border-black-50 w-[12rem]">
          &nbsp;
        </td>
        <td class="border-r border-black-800 dark:border-black-50 w-[12rem]">
          &nbsp;
        </td>
        <td class="w-[4.5rem]">&nbsp;</td>
      </tr>
    </div>
    <!-- END: Null Roster -->

    <!-- START: Roster Filling -->
    <div *ngIf="getGoals() != null && getGoals().length < getMaxVisibleGoals()">
      <tr
        *ngFor="
          let i of [].constructor(getMaxVisibleGoals() - getGoals().length);
          let j = index
        "
        class="flex flex-row"
        [ngClass]="
          j % 2 !== (getGoals().length % 2 == 0 ? 1 : 0)
            ? 'bg-gray-50 dark:bg-black-200'
            : 'bg-gray-100 dark:bg-black-300'
        "
      >
        <td class="border-r border-black-800 dark:border-black-50 w-[3.5rem]">
          &nbsp;
        </td>
        <td class="border-r border-black-800 dark:border-black-50 w-[3.5rem]">
          &nbsp;
        </td>
        <td class="border-r border-black-800 dark:border-black-50 w-[4.5rem]">
          &nbsp;
        </td>
        <td class="border-r border-black-800 dark:border-black-50 w-[12rem]">
          &nbsp;
        </td>
        <td class="border-r border-black-800 dark:border-black-50 w-[12rem]">
          &nbsp;
        </td>
        <td class="border-r border-black-800 dark:border-black-50 w-[12rem]">
          &nbsp;
        </td>
        <td class="w-[4.5rem]">&nbsp;</td>
      </tr>
    </div>
    <!-- END: Roster Filling -->
  </tbody>
</table>
