<!-- START: Header -->
<app-header class="fixed z-50 w-full"></app-header>
<!-- END: Header -->
<main class="dark:bg-black-700 pb-20">
    <div class="text-black-700 dark:text-gray-50 dark:bg-black-700 layout pt-5 mx-auto font-sans">
        <!-- Player username -->
        <div class="flex flex-row items-center space-x-4">
            <h1 class="flex flex-row space-x-3 text-[2.625rem] items-center w-max font-semibold mx-auto md:mx-0 md:text-left"
                [ngStyle]="{'color' : this.usernameColor || 'currentColor' }">
                <span>{{ this.member.username }}</span>
                <span *ngIf="this.member?.number" class="text-[2.1rem] flex flex-row space-x-3">
                    <span class="dark:text-gray-100 text-black-200">&vert;</span>
                    <span class="dark:text-white font-mono text-black">&#35;{{ this.member.number }}</span>
                </span>
            </h1>
            <!-- <h1 class="text-[2.625rem] w-max font-semibold mx-auto md:mx-0 md:text-left bg-clip-text text-transparent bg-gradient-to-r from-green-500 via-blue-500 to-purple-500"
                    [ngStyle]="{'color' : !this.member?.roles[0]?.color || ''}">{{ this.member.username }}</h1> -->
            <!-- OG Heart -->
            <!-- <div *ngIf="this.member.isOg && this.member.roles.length === 0" class="flex text-xl text-red-600 select-none">
                    <span ngxTippy="OG Player">&#9829;</span>
                </div> -->
        </div>

        <!-- START: Roles & Ranks Bar -->
        <div class="flex flex-row flex-wrap items-start justify-center mb-1.5 md:justify-start whitespace-nowrap">
            <!-- Roles -->
            <div *ngFor="let role of this.member.roles"
                 class="flex-initial px-2 mt-1 mr-2.5 text-base rounded shadow-sm select-none w-max"
                 [ngStyle]="{'background-color': role?.background || '#FFFFFF', 'color': role?.color || '#000000'}">{{ role.name }}</div>
            <!-- OG Heart -->
            <div *ngIf="this.member.isOg" class="flex my-auto text-xl text-red-600 select-none">
                <span ngxTippy="OG Player" class="my-auto">&#9829;</span>
            </div>
        </div>
        <!-- END: Roles & Ranks Bar -->

        <div class="md:flex-row flex flex-col justify-between">

            <div class="flex flex-col">
                <!-- START: Player Profile Picture (Minecraft Head) -->
                <div class="flex flex-none mx-auto my-3 bg-gray-100 bg-no-repeat rounded-lg shadow-lg select-none w-[16.25rem] h-[16.25rem] dark:bg-black-800 md:mx-0"
                     [ngStyle]="{'background-image': 'url(' + this.profilePicture + ')'}"></div>
                <!-- END: Player Profile Picture (Minecraft Head) -->

                <!-- START: Online Status -->
                <div class="whitespace-nowrap flex justify-center">
                    <div class="w-2.5 h-2.5 my-auto mr-1.5 rounded-full shadow-md"
                         ngxTippy
                         tippyName="online-status"
                         [ngClass]="this.member.isOnline ? 'bg-green-500 animate-pulse' : 'bg-red-600'"></div>
                    <span>{{ this.member.isOnline ? 'Online for' : 'Last seen' }}&nbsp;</span>
                    <span class="font-semibold cursor-default"
                          ngxTippy
                          tippyName="last-online-date">{{ getLastOnlineDate() | timeago : this.member.isOnline }}&nbsp;</span>
                    <!-- <span>on&nbsp;</span>
                        <span class="font-semibold">Server {{ this.server }}</span> -->
                </div>
                <!-- END: Online Status -->
            </div>
        </div>

        <!-- START: Tabs -->
        <div class="text-md md:flex border-black-300 dark:border-gray-100 mt-7 flex-row flex-wrap hidden border-b select-none">
            <!-- START: Stats Tab -->
            <div id="stat-tab" class="px-5 py-1 text-center rounded-t-lg cursor-pointer min-w-[9rem] focus:outline-none"
                 (click)="changeTab('')"
                 tabindex="0"
                 [ngClass]="this.tab === 'stats'
                                ? 'border-b-2 dark:bg-black-100 bg-opacity-10 border-black-300 dark:border-gray-100 bg-black' 
                                : 'hover:border-b-2 hover:bg-black dark:hover:bg-gray-100 dark:hover:bg-opacity-10 hover:bg-opacity-5 dark:border-gray-50 hover:border-black-200
                                   focus:border-b-2 focus:bg-black dark:focus:bg-gray-100 dark:focus:bg-opacity-10 focus:bg-opacity-5 focus:border-black-200' ">
                <span>STATISTICS</span>
            </div>
            <!-- END: Stats Tab -->

            <!-- START: Games Tab -->
            <div id="game-tab" class="px-5 py-1 text-center rounded-t-lg cursor-pointer min-w-[9rem] focus:outline-none"
                 (click)="changeTab('games')"
                 tabindex="0"
                 [ngClass]="this.tab === 'games'
                                ? 'border-b-2 dark:bg-black-100 bg-opacity-10 border-black-300 dark:border-gray-100 bg-black' 
                                : 'hover:border-b-2 hover:bg-black dark:hover:bg-gray-100 dark:hover:bg-opacity-10 hover:bg-opacity-5 dark:border-gray-50 hover:border-black-200
                                    focus:border-b-2 focus:bg-black dark:focus:bg-gray-100 dark:focus:bg-opacity-10 focus:bg-opacity-5 focus:border-black-200' ">
                <span>GAMES</span>
            </div>
            <!-- END: Games Tab -->

            <!-- START: Awards Tab -->
            <div id="awards-tab" class="px-5 py-1 text-center rounded-t-lg cursor-pointer min-w-[9rem] focus:outline-none"
                 (click)="changeTab('awards')"
                 tabindex="0"
                 [ngClass]="this.tab === 'awards' 
                                ? 'border-b-2 dark:bg-black-100 bg-opacity-10 border-black-300 dark:border-gray-100 bg-black' 
                                : 'hover:border-b-2 hover:bg-black dark:hover:bg-gray-100 dark:hover:bg-opacity-10 hover:bg-opacity-5 dark:border-gray-50 hover:border-black-200
                                   focus:border-b-2 focus:bg-black dark:focus:bg-gray-100 dark:focus:bg-opacity-10 focus:bg-opacity-5 focus:border-black-200' ">
                <span>AWARDS</span>
            </div>
            <!-- END: Awards Tab -->

            <!-- START: Infractions Tab -->
            <div id="infractions-tab" class="px-5 py-1 text-center rounded-t-lg cursor-pointer min-w-[9rem] focus:outline-none"
                 (click)="changeTab('infractions')"
                 tabindex="0"
                 [ngClass]="this.tab === 'infractions' 
                                ? 'border-b-2 dark:bg-black-100 bg-opacity-10 border-black-300 dark:border-gray-100 bg-black' 
                                : 'hover:border-b-2 hover:bg-black dark:hover:bg-gray-100 dark:hover:bg-opacity-10 hover:bg-opacity-5 dark:border-gray-50 hover:border-black-200
                                   focus:border-b-2 focus:bg-black dark:focus:bg-gray-100 dark:focus:bg-opacity-10 focus:bg-opacity-5 focus:border-black-200' ">
                <span>INFRACTIONS</span>
            </div>
            <!-- END: Infractions Tab -->
        </div>
        <!-- END: Tabs -->

        <!-- START: Tabs Content -->
        <div class="md:flex hidden">
            <app-stats [class.hidden]="this.tab !== 'stats'"
                       [member]="this.member"
                       [stats]="this.playerStatistics"
                       [gamesPlayed]="this.playerGamesPlayed"
                       [onIcePlayers]="this.onIcePlayers"
                       [isError]="this.isError"
                       class="w-full mt-10"></app-stats>
            <app-games [class.hidden]="this.tab !== 'games'"
                       [member]="this.member"
                       class="w-full mt-10">

            </app-games>
            <app-awards [class.hidden]="this.tab !== 'awards'"
                        [awards]="this.member"
                        class="w-full mt-10"></app-awards>
            <app-infractions [class.hidden]="this.tab !== 'infractions'"
                             [member]="this.member"
                             class="w-full mt-10"></app-infractions>
        </div>
        <!-- END: Tabs Content -->
    </div>
</main>