@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'tippy.js/dist/tippy.css';

@layer base {
    main {
        padding-top: 63px;  /* height of header */
        min-height: 100vh;
    }
}

@layer components {
    .layout {
        max-width: 72rem; /* 1100px */
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .hockey-scrollbar {
        @apply scrollbar-thumb-gray-400 hover:scrollbar-thumb-gray-500 scrollbar-track-gray-300 dark:scrollbar-thumb-black dark:scrollbar-track-black-800 dark:hover:scrollbar-thumb-black-900 scrollbar-thin;
    }
}