<!-- START: Header -->
<app-header class="fixed z-50 w-full"></app-header>
<!-- END: Header -->
<main class="dark:bg-black-700 pb-20">
    <div class="text-black-700 dark:text-gray-50 dark:bg-black-700 layout pt-5 mx-auto font-sans">
        <h1 class="w-max mb-7 mx-auto mt-3 text-5xl">Private Beta Leaderboard</h1>
        <table class="w-max flex flex-col mx-auto shadow-md select-none">
            <thead class="w-max dark:border-gray-300 border-black-400 flex flex-row items-center border-2 select-none">
                <th class="dark:border-gray-300 border-black-400 dark:bg-black-800 p-1.5 text-center bg-gray-300 border-r-2 w-[2.8rem]"
                    ngxTippy="Ranking">
                    <span class="pt-3">NO.</span>
                </th>
                <th class="dark:border-gray-300 border-black-400 dark:bg-black-800 p-1.5 text-center bg-gray-300 border-r-2 w-[18rem]"
                    ngxTippy="Player Username">
                    <span class="pt-3">PLAYER</span>
                </th>
                <th class="dark:border-gray-300 border-black-400 dark:bg-black-800 p-1.5 text-center bg-gray-300 border-r-2 w-[3.5rem]"
                    ngxTippy="Games Played">
                    <span class="pt-3">GP</span>
                </th>
                <th class="dark:border-gray-300 border-black-400 dark:bg-black-800 p-1.5 text-center bg-gray-300 border-r-2 w-[3.5rem]"
                    ngxTippy="Goals">
                    <span class="pt-3">G</span>
                </th>
                <th class="dark:border-gray-300 border-black-400 dark:bg-black-800 p-1.5 text-center bg-gray-300 border-r-2 w-[3.5rem]"
                    ngxTippy="Assists">
                    <span class="pt-3">A</span>
                </th>
                <th class="dark:border-gray-300 border-black-400 p-1.5 text-center bg-[#74c69d] dark:bg-[#40916c] border-r-2 w-[3.5rem]"
                    ngxTippy="Points &#8595;">
                    <span class="dark:text-black-700 pt-3 font-bold">P</span>
                </th>
                <th class="dark:border-gray-300 border-black-400 dark:bg-black-800 p-1.5 text-center bg-gray-300 border-r-2 w-[3.5rem]"
                    ngxTippy="Plus-Minus">
                    <span class="pt-3">+/-</span>
                </th>
                <th class="dark:border-gray-300 border-black-400 dark:bg-black-800 p-1.5 text-center bg-gray-300 border-r-2 w-[3.5rem]"
                    ngxTippy="Goals per Game">
                    <span class="pt-3">G/GP</span>
                </th>
                <th class="dark:border-gray-300 border-black-400 dark:bg-black-800 p-1.5 text-center bg-gray-300 border-r-2 w-[3.5rem]"
                    ngxTippy="Assists per Game">
                    <span class="pt-3">A/GP</span>
                </th>
                <th class="dark:border-gray-300 border-black-400 dark:bg-black-800 p-1.5 text-center bg-gray-300 border-r-2 w-[3.5rem]"
                    ngxTippy="Points per Game">
                    <span class="pt-3">P/GP</span>
                </th>
                <th class="dark:border-gray-300 border-black-400 dark:bg-black-800 p-1.5 text-center bg-gray-300 border-r-2 w-[3.5rem]"
                    ngxTippy="Overtime Goals">
                    <span class="pt-3">OTG</span>
                </th>
                <th class="dark:border-gray-300 border-black-400 dark:bg-black-800 p-1.5 pr-2 text-center bg-gray-300 w-[5rem]"
                    ngxTippy="Time on Ice per Game">
                    <span class="pt-3">TOI/GP</span>
                </th>

            </thead>
            <tbody class="scrollbar-thumb-gray-400 hover:scrollbar-thumb-gray-500 scrollbar-track-gray-300 dark:scrollbar-thumb-black dark:scrollbar-track-black-800 dark:hover:scrollbar-thumb-black-900 scrollbar-thin dark:border-gray-300 border-black-400 flex flex-col overflow-y-scroll border"
                   [style.max-height]="'40.5rem'">
                <tr *ngFor="let player of this.leaderboard; let i = index;"
                    class="group event:bg-gray-50 odd:bg-gray-100 dark:even:bg-black-500 dark:odd:bg-black-600 hover:bg-gray-200 dark:hover:bg-black-700">
                    <td class="dark:border-gray-300 border-black-400 p-1.5 text-center border-r w-[2.8rem]">{{ i + 1 }}</td>
                    <td class="dark:border-gray-300 border-black-400 p-1.5 text-center border-r w-[18rem] font-medium">
                        <a [href]="getProfileLink(player.member)" target="_blank" class="hover:underline">{{ player.member.username }}</a>
                    </td>
                    <td class="dark:border-gray-300 border-black-400 p-1.5 text-center border-r w-[3.5rem]">{{ player.gamesPlayed }}</td>
                    <td class="dark:border-gray-300 border-black-400 p-1.5 text-center border-r w-[3.5rem]">{{ player.goals }}</td>
                    <td class="dark:border-gray-300 border-black-400 p-1.5 text-center border-r w-[3.5rem]">{{ getAssists(player) }}</td>
                    <td class="dark:border-gray-300 border-black-400 p-1.5 text-center border-r w-[3.5rem] font-bold">{{ getPoints(player) }}</td>
                    <td class="dark:border-gray-300 border-black-400 p-1.5 text-center border-r w-[3.5rem]">-</td>
                    <td class="dark:border-gray-300 border-black-400 p-1.5 text-center border-r w-[3.5rem]">{{ getGoalsPerGame(player) || 0 | number : '1.2-2' }}</td>
                    <td class="dark:border-gray-300 border-black-400 p-1.5 text-center border-r w-[3.5rem]">{{ getAssistsPerGame(player) || 0 | number : '1.2-2' }}</td>
                    <td class="dark:border-gray-300 border-black-400 p-1.5 text-center border-r w-[3.5rem]">{{ getPointsPerGame(player) || 0 | number : '1.2-2' }}</td>
                    <td class="dark:border-gray-300 border-black-400 p-1.5 text-center border-r w-[3.5rem]">{{ player.overtimeGoals }}</td>
                    <td class="dark:border-gray-300 border-black-400 p-1.5 pr-2 text-center border-r w-[5rem]">{{ getAverageIceTime(player) || 0 | duration }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</main>